<% include templates/header.ejs%>

<h1>Главная страница</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque velit similique, 
   ut perspiciatis dolorem dolores dolor laborum tenetur molestiae tempora eveniet ea 
   voluptate corporis ratione excepturi reprehenderit culpa. Distinctio, labore?
</p>

<% include templates/footer.ejs%>